body {
	font-size: 24px;
}
.calculatrice {
	padding: 20px;
	border: 2px solid green;
	background-color: rgb(0, 94, 0);
	box-shadow: 5px 5px 5px grey;
}
.calculatriceScreen {
	background-color: blue;
	padding: 30px;
	position: relative; /* Permet un positionnement absolu des enfants */
}
.result {
	position: absolute;
	top: 0;
	left: 5px;
}

.zoneNbr {
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px 0;
	gap: 10px 5px;
}
.zoneNbr button {
	padding: 10px;
	text-align: center;
}

.zoneValid button:last-child {
	margin-left: 10px;
}
